div.大标题
{
    font-family : Microsoft Yahei;
    font-size : 58px;
}

div.平台账号
{
    font-family : KaiTi;
    font-size : 24px;
    color : hotpink;
}

body {
    background : url("\\resources\\images\\background.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    /* height: 100vh; */
    /* margin: 0; */
}