.左侧边栏 {
    position: absolute;
    top: 160px;
    left: 10px;
    width: 230px;
    height: 780px;
    padding: 10px;
    border: none;   /* 隐藏边框 */
    border-radius: 5px;
    box-shadow: none;  /* 隐藏阴影 */
    background-color: transparent;  /* 背景透明 */
    font-size: 22px;
    font-family: 楷体;
    font-weight: bold;
}

